@charset "UTF-8";
/* example of a media quary for making the thing responsive */
/* @media screen and (max-width: 600px) {
    div.example {
    display: none;
    }
} */

/* this is Just the html and other */
html{
    height: 100%;
    background-color: black;
}
body{
    margin: 0%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px;
    height:100%;
    margin: 0%;
    border: 1px solid white;
}
/* this is the nav section of the code */
nav{
    background-color: aqua;
    height: 50px;
    width: 100%;
    border: 2px solid white;
    
    padding: 0%;
    display: flex;
    position: fixed;
    
}
nav div{
    margin: 10px;
    width: 100%;
    
    border:1px solid white;
    display:flex;
    justify-content: space-between;
}







/* This is the slide shows css*/
/* this is just the artical */
#slideShowArtical{
    
    padding-top: 70px;
    padding-bottom: 50px;
    /* background-color: black; */
    color:white;
    height: 60%;
    border:1px solid white;
    display:flex;
    background: gray;
}

/* this is the orange section */
#SlideShowSection{
    width: 100%;
    margin: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    border:1px solid green;
    background-color: orange;
    overflow: scroll;
    scrollbar-width: none;
}




/* this is the pink section */
/* changed to class */
.slideShowDisplay{
    /* display: flex; */
    /* padding: 0px;
    margin: 0px; */
    width: 200px;
    background-color: pink;
    height: 80%;
    

    /* @media (width > 1000px) {
        .slideShowDisplay {
            height: 100000000px;
        }
    } */

}

/* .slideShowDisplay {
    animation: vibrate 0.3s linear infinite both;
} */

/* @media (width > 1000px) {
    .slideShowDisplay {
        height: 100000000px;
    }
} */


.slideShowDiv{
    display: flex;
    height: inherit;


    
    
    flex-direction: column;
    justify-content: space-between;
    
    background-color: black;

}


.projectLabel{
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;

    background-color: red;
}


.projectImage{
    height: 100%;
    background-color: white;
}

.projectButton{

    height: 30%;

}


/* this is going to be the whole section for the MAIN css*/
main{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    height: 100%;
    background-color: blueviolet;
}
content{
    /* width:70%; */
    width: 25%;
    border: 1px solid blue
}
section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: blanchedalmond ;
    /* padding goes on the inside */
    padding: 10px;
}

section div{
    background-color: green;
    height: 100%;
    margin: 10px;
}
aside{
    width: 25%;
    border: 1px solid red
}



/* this is the start of the footers css. */
footer{
    
    background-color: red;
}